<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323975116251-npn6q9q5ruardmrtag8rf5372r5amqkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323975116251-npn6q9q5ruardmrtag8rf5372r5amqkc</string>
	<key>API_KEY</key>
	<string>AIzaSyBQyujsyysfohe8g8Dqe9hfIaQwmv-KwCM</string>
	<key>GCM_SENDER_ID</key>
	<string>323975116251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.propzy.checkinparty</string>
	<key>PROJECT_ID</key>
	<string>checkinparty-71127</string>
	<key>STORAGE_BUCKET</key>
	<string>checkinparty-71127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323975116251:ios:6278be6f2a227bdf1c23fe</string>
	<key>DATABASE_URL</key>
	<string>https://checkinparty-71127.firebaseio.com</string>
</dict>
</plist>